[build.environment]
    NODE_VERSION = "14"

[[redirects]]
    from = "/proxy/*"
    to = ":splat"
    status = 200
    force = true

[[redirects]]
    from = "/*"
    to = "index.html"
    status = 200

[dev]
    framework = "#custom"
    command = "yarn start-wds"
    targetPort = 8080
    publish = "dist"
