<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
        <script async defer data-domain="mmscan.app" src="https://plausible.190n.org/js/plausible.js"></script>
    </head>
    <body class="dark">
        <main id="app"></main>
    </body>
</html>
