<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
        <script async defer data-domain="mmscan.app" data-exclude="/http**, /results/*" src="https://plausible.190n.org/js/plausible.exclusions.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    </head>
    <body>
        <script>
            const pref = window.localStorage.getItem('colorModePreference');

            if (pref == 'dark') {
                document.body.classList.add('dark');
            } else if (pref == 'system' && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)')) {
                document.body.classList.add('dark');
            }
        </script>
        <main id="app"></main>
    </body>
</html>
